In [1]:
import pandas as pd
from utils import connection as con
from etl import extract as ex
from etl import load
from etl import transform as t

In [2]:
conn_db = con.connect_db()
conn_dw = con.connect_dw()

In [10]:
df_mesa = ex.extract_table("Mesa", conn_db)
df_clientes = ex.extract_table("Clientes", conn_db)
df_pedidosdetalle = ex.extract_table("PedidosDetalle", conn_db)

df_categoria = ex.extract_table("Categoria", conn_db)
df_subcategoria = ex.extract_table("SubCategoria", conn_db)
df_carta = ex.extract_table("Carta", conn_db)

In [13]:
df_carta.head()

,idCarta,idSubCategoria,Nombre,Descripcion,Precio,Estado
0,1,1,EMPANADAS,a elegir de pastel de choclo o de rocoto relleno,16.0,b'\x01'
1,2,1,TAMALITO VERDE,bañado de jugo de seco y acompañado de salsa c...,19.0,b'\x01'
2,3,1,PAPA A LA HUANCAÍNA,en una porción generosa para compartir en familia,29.0,b'\x01'
3,4,1,OCOPA LIMEÑA,"en punto cremoso, con queso frito, huevo y ace...",29.0,b'\x01'
4,5,1,PAPA RELLENA,"de carne picada a cuchillo, acompañada de crem...",29.0,b'\x01'

In [ ]:
df_promedio = orders_df.merge(order_items_df, left_on='order_id', right_on='order_item_order_id', how='left')
df_promedio.head()

In [8]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry